.sai{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-image: linear-gradient(black,blue);
    background-clip: content-box;
}

.img{
    width: 3.5%;
    height: 3.5%;
}
.dropdown {
            position: relative;
            display: inline-block;
            left: 30%;
            padding-top: 7%;
        }

        .dropbtn {
            font-size: larger;
            background-size: 20%;
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            min-width:500px ;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            min-width: 250px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 10px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }


        .slide-in-text {
            position: fixed;
            top: 50%;
         left: -300;
            background-color: #3498db;
            color: white;
            padding: 15px;
            border-radius: 5px;
            transition: left 0.5s ease-in-out;
            width: 500px;
            text-align: center;
        }

        .show {
            left: 350px;
        }

        .close-btn {
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            position: absolute;
            top: 5px;
            right: 10px;
            color: white;
        }
     .heading{
        margin-bottom: 0%;
     }

     .container {
        padding-top: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center; 
        width:50%;
      }
      .first_item{
        margin-left: 3%;
        padding-left: 3%;
      }
      
      .item {
        margin-left: 5%;
        margin-right: 3%;
        width: 200px;
        height: 300px;
      }